@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>eUse System | @ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrap/css")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOME style -->
    @Styles.Render("~/bundles/main/css")
</head>

<body>
    <div class="wrapper">
        <!-- Header -->
        @Html.Partial("_Header")

        <!-- Navigation -->
        <aside class="navigation" id="navigation">
            @Html.Partial("_Navigation")
        </aside>

        <!-- Main view -->
        <section class="content">
            @RenderBody()
            <!-- Footer-->
            @Html.Partial("_Footer")
        </section>

        <!-- Section for main scripts render -->
        @Scripts.Render("~/bundles/jquery/js")
        @Scripts.Render("~/bundles/bootstrap/js")
        <!-- Handler for local scripts -->
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>